<p id="notice"><%= notice %></p>

<h1>Category: <%= @category.name %></h1>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>

<p>
  <b>Sub-Categories:</b>
  <% unless @category.sub_categories.empty? %>
    <ul><%= render @sub_categories %></ul>
  <% end %>
</p>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
