<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3 %>
  </div>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name,
      { :include_blank => true }, :class => 'category_chosen' %>
  </div>

  <div class="field">
    <%= f.label :sub_category %><br />
    <select name="product[sub_category_id][]" id="product_sub_category_id" multiple="true">
      <% product_sub_categories = @product.sub_categories.map{ |sub| sub.id } %>
      <% SubCategory.all.each do |subcategory| %>
        <% if product_sub_categories.include? subcategory.id %>
          <option value="<%= subcategory.id %>" rel="<%= 
           subcategory.category.id %>" selected="selected">
            <%= subcategory.name %>
          </option>
        <% else %>
          <option value="<%= subcategory.id %>" rel="<%= 
           subcategory.category.id %>">
            <%= subcategory.name %>
          </option>
        <% end %>
      <% end %>
    </select>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
