<header>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
      <li><%= link_to "Products", products_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "New", new_path %></li>
        <li><%= link_to "Profile", user_registration_path(current_user) %></li>
      <% end %>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About", about_path %></li>
      <% if !user_signed_in? %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</header>
