<nav class="round">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Categories", categories_path %></li>
    <li><%= link_to "Products", "#" %></li>
    <li><%= link_to "New", new_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "About", about_path %></li>
  </ul>
</nav>